<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    <header class="header-footer">
        <ul>
            <li class="menu-item">
                <a class="menu-link" href="/">Главная</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/catalog">Каталог</a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">О нас</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <form action="https://google.ru/search">
            <legend>Оставьте ваш вопрос</legend>
            <input type="text" class="form-control" name="q" placeholder="enter your name"> <br>
            <!-- <input type="password" name="password"><br> -->
            <textarea class="form-control" name="text" cols="30" rows="10"></textarea>
            <input type="submit" class="btn btn-primary" value="Сохранить"><br>
            <!-- <input type="file" name="file" > -->
        </form>
        <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Aac3d8988faeff225f66c8e1bcac09d650f4b6265005b76418a5f7096c774831a&amp;source=constructor"
            width="100%" height="400" frameborder="0"></iframe>
        
    </div>
    <footer class="header-footer">
        <ul>
            <li class="menu-item">&copy;&nbsp;Наш интернет-магазин</li>
            <li class="menu-item"><a href="mailto:email@mail.ru" class="menu-link">email@mail.ru</a></li>
        </ul>
    </footer>
    
</body>

</html>