{% extends "base.html" %}
{% block content %}
        <h1 class="main-header">Добро пожаловать на&nbsp;наш интернет-магазин</h1>
        <p class="description-index">школа 1580 лучшая инженерная школа России готовит лучших учеников в&nbsp;россии: &bull;
            &bull; &bull; по&nbsp;математике&nbsp;&mdash; 2&nbsp;место. &bull; по&nbsp;физике
            и&nbsp;информатике&nbsp;&mdash; 3&nbsp;место.
            В&nbsp;школе царит особая атмосфера: ученики ходят в&nbsp;форме, на&nbsp;уроках учителя обсуждают новости
            мирового спорта и&nbsp;политики, а&nbsp;дети любят спорить и&nbsp;отстаивать своё мнение.</p>
        <div class="pnthr">
            <a class="pnthr-a" href="https://sdo.1580.ru"><img src="{{ url_for('static', filename='img/shitty_panther_ytsv-p3.png') }}" alt="panther"> </a>
        </div>
{% endblock %}