<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
    <meta charset="UTF-8">
    <title>Главная</title>
</head>

<body>

    <div class="container">
        <header class="header-footer">
            <ul>
                <li class="menu-item">
                    <a class="menu-link" href="/">Главная</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/catalog">Каталог</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/about">О нас</a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/register">Регистрация</a>
                </li>

                <div class="login-head" style="top:0%">
                    {% if not session['name'] %}
                        <a href="/login" class="btn btn-light" >Войти</a>
                    {% else %}
                        <a href="/{{session['name']}}" class="logout-link"> Профиль</a>
                        <a href="/logout"  class="logout-link"> {{session['name']}}</a>
                    {% endif %}
                </div>
            </header>
            </ul>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for cat, message in messages %}
                <div class="alert alert-{{cat}} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        {% block content %} {% endblock %}
        <footer class="header-footer footer">
            <ul>
                <li class="menu-item">&copy;&nbsp;Наш интернет-магазин</li>
                <li class="menu-item"><a href="mailto:email@mail.ru" class="menu-link">email@mail.ru</a></li>
            </ul>
        </footer>
        <div class="help"><a href="https://sdo.1580.ru" class="q-link">
                <p class="q" style="margin:0">&nbsp?</p>
            </a></div>
    </div>
</body>

</html>
